In [56]:
import xarray as xr
import numpy as np
import pandas as pd

In [57]:
filename = r'./vMag_ave_series.csv'
ws = pd.read_csv(filename, header=None, sep='\s+', skiprows=3)
ws.columns = ['Date', 'Hour', 'vAve']

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\byy\AppData\Local\Temp\ipykernel_7088\576389969.py:2: SyntaxWarning: invalid escape sequence '\s'
  ws = pd.read_csv(filename, header=None, sep='\s+', skiprows=3)

In [58]:
ws

              Date      Hour      vAve
0       1990-01-01  00:00:00  4.176480
1       1990-01-01  01:00:00  4.317421
2       1990-01-01  02:00:00  4.597233
3       1990-01-01  03:00:00  4.769087
4       1990-01-01  04:00:00  4.749173
...            ...       ...       ...
306792  2024-12-31  00:00:00  5.786358
306793  2024-12-31  01:00:00  5.851212
306794  2024-12-31  02:00:00  5.814860
306795  2024-12-31  03:00:00  5.828550
306796   2024-12-3       NaN       NaN

[306797 rows x 3 columns]

In [59]:
time_stamps = pd.date_range(start='1990-01-01 00:00:00', end='2024-12-31 03:00:00', freq="1h")

In [60]:
print(len(ws["vAve"]))
print(len(time_stamps))

306797
306796

In [ ]:
ws_arr = ws["vAve"]

save_file = './select_winds.txt'
with open(save_file, "a") as f:
    for itime in range(len(ws["vAve"])-1):
        if (time_stamps[itime].month<=11 and time_stamps[itime].month>=6):
            year = time_stamps[itime].year
            month = time_stamps[itime].month
            day = time_stamps[itime].day
            if (pd.Timestamp(year, month, day)>=pd.Timestamp(year, 6, 15, 0)):
                f.write('%s %g\n' % (str(time_stamps[itime]), ws_arr[itime]))

## Top 10 events for each of the 6 SOM patterns

In [ ]:
filename = r'./select_winds_descending.txt'
ws_s = pd.read_csv(filename, header=None, sep='\s+')
ws_s.columns = ['Date', 'Hour', 'vAve']

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\byy\AppData\Local\Temp\ipykernel_7088\3321200123.py:2: SyntaxWarning: invalid escape sequence '\s'
  ws_s = pd.read_csv(filename, header=None, sep='\s+')

In [ ]:
len(ws_s["Date"])

141960

In [ ]:
filename = r'./Dates_JJASON_ssim_Node_06_timeseries.csv'
som = pd.read_csv(filename, header=None, sep=',', date_parser =pd.to_datetime, skiprows=1)
som.columns = ['Date', 'Nodes']

C:\Users\byy\AppData\Local\Temp\ipykernel_7088\2201914866.py:2: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  som = pd.read_csv(filename, header=None, sep=',', date_parser =pd.to_datetime, skiprows=1)

In [67]:
# first storm for each nodes
save_file = './first_storm.txt'
ws_s_date = ws_s['Date']
ws_s_hour = ws_s['Hour']
ws_s_vave = ws_s['vAve']
som_date = som['Date']
som_nodes = som['Nodes'] 

node_1_top_date = []
node_1_top_ws = []
pattern_count = 0
top_num = 10

# node 1
for item in range(len(ws_s_date)):
    if (pattern_count>=top_num):
            break
    for table_item in range(len(som_date)):
        if (pd.to_datetime(ws_s_date[item]) == pd.to_datetime(som_date[table_item])):
            if (np.int32(som_nodes[table_item])==1):
                node_1_top_date = np.append(node_1_top_date, ws_s_date[item])
                node_1_top_ws = np.append(node_1_top_ws, ws_s_vave[item])
                pattern_count += 1
save_file = './node-1_tops.txt'
with open(save_file, "a") as f:
    for item in range(len(node_1_top_date)):
        f.write('%s %g\n' % (str(node_1_top_date[item]), node_1_top_ws[item]))
f.close()

In [ ]:
# node 2
node_2_top_date = []
node_2_top_ws = []
pattern_count = 0
top_num = 10

# node 2
for item in range(len(ws_s_date)):
    if (pattern_count>=top_num):
            break
    for table_item in range(len(som_date)):
        if (pd.to_datetime(ws_s_date[item]) == pd.to_datetime(som_date[table_item])):
            if (np.int32(som_nodes[table_item])==2):
                node_2_top_date = np.append(node_2_top_date, ws_s_date[item])
                node_2_top_ws = np.append(node_2_top_ws, ws_s_vave[item])
                pattern_count += 1
save_file = './node-2_tops.txt'
with open(save_file, "a") as f:
    for item in range(len(node_2_top_date)):
        f.write('%s %g\n' % (str(node_2_top_date[item]), node_2_top_ws[item]))
f.close()

In [ ]:
# node 3
node_3_top_date = []
node_3_top_ws = []
pattern_count = 0
top_num = 10

for item in range(len(ws_s_date)):
    if (pattern_count>=top_num):
            break
    for table_item in range(len(som_date)):
        if (pd.to_datetime(ws_s_date[item]) == pd.to_datetime(som_date[table_item])):
            if (np.int32(som_nodes[table_item])==3):
                node_3_top_date = np.append(node_3_top_date, ws_s_date[item])
                node_3_top_ws = np.append(node_3_top_ws, ws_s_vave[item])
                pattern_count += 1
save_file = './node-3_tops.txt'
with open(save_file, "a") as f:
    for item in range(len(node_3_top_date)):
        f.write('%s %g\n' % (str(node_3_top_date[item]), node_3_top_ws[item]))
f.close()

In [66]:
node_1_top_date[0]

'2000-09-15'

In [ ]:
som_date

0             Date
1       1990-06-01
2       1990-06-02
3       1990-06-03
4       1990-06-04
           ...
5669    2020-11-26
5670    2020-11-27
5671    2020-11-28
5672    2020-11-29
5673    2020-11-30
Name: Date, Length: 5674, dtype: object

In [ ]:
som_date[0]

'Date'

In [ ]:
pd.to_datetime(som_date[0])

Timestamp('1990-06-01 00:00:00')

In [ ]:
pd.to_datetime(som_date[0]).day

1

In [ ]:
som_nodes

0       4
1       3
2       2
3       6
4       5
       ..
5668    1
5669    1
5670    5
5671    1
5672    2
Name: Nodes, Length: 5673, dtype: int64